
body {
  background-image: url("slike/pozadina.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


a{

    color: black;
}

a:hover
{
    color: yellow;
    text-decoration: none;
}

h1
{
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
}
.basic
{
    color: white;
    font-size: larger;
    font-weight: bold;
}

.header
{
    background-color: #574AE2;
    color: white;
    font-size: larger;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.basic:hover
{
    color: white;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

.footer
{
    font-size: 13px;
    left: 0px;
    bottom: 0px;
    position: fixed;
    background-color: #574AE2;
    color: white;
    width: 110%;
    padding: 0px;
}

.form
{
    padding-bottom: 20px;
}

.items
{
    padding: 2.5%;
    font-family: 'Syne Mono', monospace;
    font-size: larger;
    font-weight: bold;
}

.runes
{
    padding: 2.5%;
    font-family: 'Syne Mono', monospace;
    font-size: larger;
    font-weight: bold;
}

.champions
{
    font-family: 'Syne Mono', monospace;
    font-size: larger;
    font-weight: bolder;
}

p
{
    font-size: 30px;
}

.fensi
{
    font-family: 'Syne Mono', monospace;
    font-size: 200%;
}

.minislika img
{
    width: 30%;
}

.naslov
{
    font-family: 'Syne Mono', monospace;
    text-align: center;
    padding: 3%;
    font-size: 600%;
}

.slike img
{
    width: 90%;
}

.slike
{
    font-family: 'Syne Mono', monospace;
}

hr{
    border: 1px grey solid;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.font
{
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
}

td{
    line-height: 50px;
}