
body 
{
    background-image: url("slike/pozadina.png");
    background-size: 2000px;
    background-repeat:round;
}


a{

    color: yellow;
}

a:hover
{
    color: yellow;
    text-decoration: none;
}

h1
{
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
}
.basic
{
    color: white;
    font-size: larger;
    font-weight: bold;
}

.header
{
    background-color: #574AE2;
    color: white;
    font-size: larger;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.basic:hover
{
    color: white;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

.footer
{
    font-size: 13px;
    left: 0px;
    bottom: 0px;
    position: fixed;
    background-color: #574AE2;
    color: white;
    width: 110%;
    padding: 0px;
}

.form
{
    padding-bottom: 20px;
}

.items
{
    padding: 2.5%;
    font-family: 'Syne Mono', monospace;
    font-size: larger;
    font-weight: bold;
}

.runes
{
    padding: 2.5%;
    font-family: 'Syne Mono', monospace;
    font-size: larger;
    font-weight: bold;
}

.champions
{
    font-family: 'Syne Mono', monospace;
    font-size: larger;
    font-weight: bolder;
}

p
{
    font-size: 30px;
}


